
hr{
    padding-top: 138px;
    background-color: #f2f2f2;
    height: 20px;
}
.scroller-box{
    margin-top: 138px;
    border-top: 12px solid #f2f2f2
}
.datalist{
    padding: 30px 3.2% 20px;
    border-bottom: 12px solid #f2f2f2
}
.basicInfo{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 20px;
}
.basicInfo>div{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 12px;
    width: 50%;
}
.basicInfo>div>p,.basicInfo>div>h3{
    color: #556677;
}
.basicInfo>div>p:nth-child(2){
    margin: 0 6% 0 12%
}
.ignore>div>h3{
    font-size: 14px;
}
.ignore>div>p,.ignore a{
    font-size: 12px
}
.charactertag,.address{
    width: 70%;
}
.charactertag{margin-bottom: 10px}
.ignore .district{
    font-size: 12px;
    color: #ababab;
 
}
.district{
    margin-bottom: 6px;
}
.charactertag>li{
    // display: inline-block;
    // width: 22%;
    color: #556677;
    // border: 1px solid #ccc;
    margin: 0 10px 0 -1px;
    line-height: 30px;
    // text-align: center;
}
.address{
    
    line-height: 34px;
    color: #556677;
}
.scroller-box{
    position: relative;
    min-height: 100vh
}

// .basicInfo>div p:last-child{
//     margin-left: 2%
// }
