
hr{
    padding-top: 138px;
    background-color: #f2f2f2;
    height: 20px;
}
.scroller-box{
    margin-top: 138px;
    border-top: 12px solid #f2f2f2
}
.datalist{
    padding: 30px 3.2% 20px;
    border-bottom: 12px solid #f2f2f2
}
.basicInfo{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 20px;
}
.basicInfo>div{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 12px;
    width: 50%;
}
.basicInfo>div>p,.basicInfo>div>h3{
    color: #556677;
}
.basicInfo>div>p:nth-child(2){
    margin: 0 6% 0 12%
}
.datalist>div h3{
    font-size: 32px;
}
.datalist>div p,.datalist a{
    font-size:30px;
    color: #556677;
}
.charactertag,.address{
    width: 70%;
}
.charactertag{margin-bottom: 10px}
.datalist .district{
    font-size: 26px;
    color: #ababab;
    line-height: 32px;
 
}
.district{
    margin: 6px 0;
}
.charactertag>li{
    // display: inline-block;
    // width: 22%;
    color: #556677;
    // border: 1px solid #ccc;
    margin: 0 10px 0 -1px;
    // text-align: center;
    font-size: 30px;
    padding: 4px 0;
    line-height: 40px;
}
.address{
    font-size: 30px;
    line-height: 40px;
    color: #556677;
}
.scroller-box{
    position: relative;
    min-height: 100vh
}

// .basicInfo>div p:last-child{
//     margin-left: 2%
// }

// .charactertag > li label,.charactertag > li span{
//     font-size: 16px
// }



// 搜索
.searchbox {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
  }
  .searchbox > div:first-child {
    width: 66%;
  }
  .searchbox > div > label {
    line-height: 40px;
    color: #556677;
    font-size: 18px
  }
  .workcontent  .searchbox {
    position: fixed;
    top: 88px;
    background-color: #fff;
    width: 100%;
    z-index: 1;
    padding: 10px 0;
    border-bottom: 12px solid #f2f2f2;
  }